@font-face {
  font-family: "Ubuntu Mono";
  src: url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
}

body {
  background-color: #111;
  background-image: url("sky.gif");
  background-position: center;
  background-position: 50% 50%;
  background-repeat: repeat;
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
  color: #ababab;

  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  padding: 32px 0px;
  transform: translate(-50%, -50%);

  background: rgba(50, 50, 50, 0.1);
  border: 2px solid;
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 16px #fff;
  border-radius: 16px;
  border-color: #464646;

  animation-duration: 0.8s;
  animation-name: animate-opacity;
  backdrop-filter: blur(4px);
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.18);
}

h1 {
  font-size: 64px;
  margin: 8px;
  font-weight: 200;
  color: #ffffff;
}

p {
  margin: 8px;
}

@keyframes animate-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

button {
  background-color: #222222;
  box-shadow: 0 0 10px #ffffff;
  border-radius: 16px;
  border-width: 4px;
  border-style: solid;
  border-color: #fff;
  color: #fff;
  width: 180px;
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  letter-spacing: 2px;
  text-shadow: 0 0 4px #fff;
  padding: 8px 16px;
  scale: 1;
  transition: all 0.4s;
}

button:hover {
  scale: 1.1;
  background: linear-gradient(60deg, rgba(200, 200, 200, 1), rgba(0, 0, 0, 1));
  box-shadow: 0 0 32px #ffffff;
}

button:active {
  scale: 1.05;
  background: linear-gradient(50deg, rgba(200, 200, 200, 1), rgba(0, 0, 0, 1));
  box-shadow: 0 0 32px #555555;
}
